<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Resoomer Input - Text Summarization using T5 - Maroon Team</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
{#     <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> #}
</head>
<body>
    <nav class="navbar" style="background-color: maroon">
      <div class="container-fluid">
        <a class="navbar-brand fw-medium text-white" href="/">
          <img src="/static/maroon-team.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          Maroon T5 Resoomer
        </a>
      </div>
    </nav>

    <div class="p-3 m-4">
{#		<h2 class="text-center p-3">Card with Tabs</h2>#}
		<nav>
			<div class="nav nav-tabs nav-fill mb-3" id="nav-tab" role="tablist">
				<button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Input Teks</button>
				<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Input Link</button>
			</div>
		</nav>
		<div class="tab-content p-3 border bg-light" id="nav-tabContent">
			<div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
				<form action="/summarize" method="post">
                    <div class="container">
                        <div class="form-group text-center">
                            <label for="article-text" class="p-4 my-2">
                                <strong>Masukkan Teks Untuk Diringkas</strong>
                            </label>
                            <textarea class="h-full shadow-sm form-control my-3 text-dark" name="article-text" style="height: 250px" placeholder="Masukkan Teks Disini" id="article-text" style="height: 100px"></textarea>
                        </div>
                        <button type="submit" class="my-2 btn text-white fw-medium" style="background-color: maroon">Resoom!</button>
                    </div>
                </form>
			</div>
			<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
				<form action="/summarize-link" method="post">
                    <div class="container align-items-center text-center">
                        <div class="form-group text-center my-2">
                            <label for="article-link" class="p-4 my-2">
                                <strong>Masukkan Link Artikel Untuk Diringkas</strong>
                            </label>
                            <div class="input-group flex-nowrap">
                              <input type="text" class="shadow-sm form-control" id="article-link" name="article-link" placeholder="Masukkan Link" aria-label="Article Link" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <button type="submit" class="my-2 btn text-white fw-medium" style="background-color: maroon">Resoom!</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
<!-- Tabs content -->
{#    <form action="/summarize" method="post">#}
{#        <div class="container">#}
{#            <div class="form-group text-center">#}
{#                <label for="article-text" class="pt-4">#}
{#                    <strong>Masukkan Teks Untuk Diringkas</strong>#}
{#                </label>#}
{#                <br>#}
{#                <textarea class="shadow-sm form-control my-3" name="article-text" style="height: 200px" placeholder="Masukkan Teks Disini" id="article-text" style="height: 100px"></textarea>#}
{#            </div>#}
{#            <br>#}
{#            <button type="submit" class="btn btn-primary">Summarize!</button>#}
{#        </div>#}
{#    </form>#}
{#    <form action="/summarize-link" method="post">#}
{#        <div class="container">#}
{#            <div class="form-group text-center">#}
{#                <label for="article-link" class="pt-4">#}
{#                    <strong>Masukkan Link Artikel Untuk Diringkas</strong>#}
{#                </label>#}
{#                <br>#}
{#                <div class="input-group flex-nowrap">#}
{#                  <input type="text" class="form-control" id="article-link" name="article-link" placeholder="Masukkan Link" aria-label="Article Link" aria-describedby="addon-wrapping">#}
{#                </div>#}
{#            </div>#}
{#            <br>#}
{#            <button type="submit" class="btn btn-primary">Summarize!</button>#}
{#        </div>#}
{#    </form>#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>